/* .video{
    background-color: aquamarine;


}

.propaganda{
    background-color: blue;
}

.video-1{
    background-color: red;

}


.video-2{
    background-color: blueviolet;

}
.video-3{
    background-color:yellow;

}

.titulo-video{
    background-color: cadetblue;
}

.video-informacoes{
    background-color: coral;
} */


html{
    font-family: sans-serif;
}